{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'mainApp/home_style.css' %}">
<link rel="stylesheet" href="{% static 'marketplace/marketplace.css' %}">
{% include 'menu.html' %}
{% if my_profile.theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/light_theme.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark_theme.css' %}">
    <style type="text/css">
        .category i {color: #fff;}
    .left button {background: rgb(18, 18, 18)}
    .top {background: rgb(30, 30, 30);}</style>
{% endif %}
<style type="text/css">
    .main .center {width: 70%;}
    .friends_name .friends_name {
        text-decoration: none;
        color: black;
    }
    .left a {
        text-decoration: none;
        color: black;
    }
    body {
        background-color: #f5f5f5;
    }
    @media (max-width: 1100px){
    .main .left{
        .main .left: 25%;
        width: 25%;
    }
    }
    @media (max-width: 920px){
    .main .center {
        width: 90%;
        margin: 0 auto;
}
}
</style>

<div class="main" style="margin-top: 50px;">
    <!------------------ left --------------------->

{% include 'marketplace/mixin.html' %}
<!-- </div> -->
    <!------------------ center --------------------->
    <div class="center" style="height: 100vh;margin-left: 25%;"> 
        <div class="top">
            {% if category %}
                <p>{{category}}</p>
            {% else %}
                <p>All category</p>
            {% endif %}
        </div>
        <div class="sells">
            {% for sell in sells %}
                <div class="sell">
                    <a href="{% url 'marketplace:detail' sell.id %}" style="text-decoration: none;">
                    <img src="{{sell.image.url}}">
                    <p class="price" style="color: darkgreen;opacity: 0.7;">${{sell.price}}</p>
                    <p class="sell-name" style="color:#919191;">{{sell.name|truncatechars:25}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
{{my_profile.id|json_script:"json-username"}}
<script src="{% static 'js/websocket.js' %}"></script>
{% endblock %}