{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'mainApp/home_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/group.css' %}">
<link rel="stylesheet" href="{% static 'mainApp/comment_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/add_friend_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/rule_rm.css' %}">
<style>.dropdown{display: none} .items .item ul a {text-decoration: none;}</style>
<style type="text/css">
	@media(max-width:1100px){
		.main .right_side {
			margin: 0 auto;
		}
	}
	.menu_settings {
		margin-top:50px;
	}
</style>
{% if my_profile.theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/light_theme.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark_theme.css' %}">
    <style>.gd{background: rgb(23, 23, 23);}</style>
{% endif %}
<style type="text/css">
	.gd{display: flex;justify-content: space-between;width: 100%;}
	.srch-div input {    padding: 8px;
    position: relative;
    border: none;
    background-color: #efefef;
    border-radius: 30px;
    outline: none;
	margin-top: 5px;
	}
	@media(max-width:1024px){
		.right_side {margin: 0 auto;}
	}
	@media(max-width:768px){
		.about{display: none;}
	@media(max-width:520px){
		.gd{display: block;}
		.srch-div{display: flex;}
		.items .item {
			width: 90%;
			margin: 0 auto;
			justify-content: space-between;
/*			display: flex;*/
		}
		.top .members img{
			display: none;
		}
	}
		.items .item ul {
			width:100%;
			justify-content: space-between;
		}
		.items {display: flex;}
		.srch-div input {width: 90%;
			margin: 0 auto;
			margin: 3px;
			margin: 0 auto;
			margin-bottom: 5px;}
	}
	@media(max-width:375px){
		.items ul li {
			font-size: 14px;
		}
	}
</style>
{% include 'menu.html' %}
<div class="main">
	{% include 'accounts/groups_left_side.html' %}
    <div class="right_side" style="display: block;">
    	<div class="top">
    		<div class="cover"><img src="{{group.group_cover.url}}" style="width: 100%;height: 300px;"></div>
    		<div class="top_bottom">
    			<div class="inf">
    				<div class="group_name" style="display:flex;"><h2 class="group-title" style="font-size: 20px;">{{group.group_name}}{% if group.blue_tick %}<img src="{% static 'images/tick.png' %}" style="color:#1778F2;width: 20px;height: 20px;">{% endif %}</h2></div>
	    			<p class="info">
	                    {% if group.privacy == "Public" %}
	                        <i class="fa-solid fa-earth-americas"></i>
	                    {% else %}
	                        <i class="fa-solid fa-lock"></i>
	                    {% endif %}
	                    {{group.status}}
	                     group &middot {{group.hf}}{{group.glf}} members
	                </p>
	            </div>
	                <div class="members">
	                	{% if members|length > 3 %}
			    			{% for member in members|slice:"3" %}
			               		<img src="{{member.profile_img.url}}">
			                {% endfor %}
			            {% else %}
			            	{% for member in members %}
			               		<img src="{{member.profile_img.url}}">
			                {% endfor %}
			            {% endif %}
			            {% if me_in_group %}
		                	<button id="invite" class="invite"><i class="fa-solid fa-plus"></i>Invite</button>
		                {% else %}
		                	<form method="POST">
		                		{% csrf_token %}
		                		<input type="hidden" name="g" value="{{group.id}}">
		                		<button name="join">Join</button>
		                	</form>
		                {% endif %}
		    		</div>
    		</div>
    		<hr>
    		<div class="gd">
    			<div class="items">
    			<div class="item">
    			<ul>
    				<a href="{% url 'accounts:about' group.id %}"><li>About</li></a>
    				<a href="{% url 'accounts:group' group.id %}"><li>Discussion</li></a>
    				<a href="{% url 'accounts:members' group.id %}"><li>Members</li></a>
    				{% if can_post %}
    				<a href="{% url 'accounts:add_group_post' group.id %}" style="text-decoration: none;"><li>Post</li></a>
    				{% endif %}
    			</ul>
    			</div>

    		</div>
    		</div>
    	</div>
    	<div class="bottom">
    		<div class="bottom-top">
    			 <div class="about aboutTwo" style="height: fit-content;width: 50%;">
			        	<h3>About</h3>
			        	<div class="description"><p>{{group.description}}</p></div>
			        	<div>
			        		{% if group.privacy == "Public" %}
		                        <i class="fa-solid fa-earth-americas"></i><p class="tit">{{group.privacy}}</p>
		                        <p class="about-text">Anyone can see who's in the group and what they post.</p>
		                    {% else %}
		                        <i class="fa-solid fa-lock"></i><p class="tit">{{group.privacy}}</p>
		                        <p class="about-text">Only members can see who's in the group and what they post.</p>
		                    {% endif %}
			        	</div>
			        	<div>
			        		<i class="fa-solid fa-eye"></i><p class="tit">Visible</p>
			        		<p class="about-text">Anyone can find this group</p>
			        	</div>
			        	<div>
			        		<i class="fa-solid fa-users"></i><p class="tit">{{group.group_type}} Group</p>
			        	</div>
			   		</div>

			    <div class="center">
			    	{% if can_post %}
			    	<div class="my_post" style="height: 120px;">
			            <div class="post_top">
			                <form method="POST" action="">
			                    {% csrf_token %}
			                <img src="{{my_profile.profile_img.url}}">
			                <input type="text" name="group_post_text" placeholder="What's on your mind, {{my_profile.user}}?">
			                <input type="hidden" name="group" value="{{group.id}}">
			                <input type="submit" class="sub-new-post">
			                </form>
			            </div>
			            <hr>
			            <div class="post_bottom">
			                <div class="post_icon">
			                    <i class="fa-solid fa-images green"></i>
			                    <p>Photo/video</p>
			                </div>
			                <div class="post_icon">
			                    <i class="fa-regular fa-face-grin yellow"></i>
			                    <p>Feeling/activity</p>
			                </div>
			            </div>
			        </div>
			        {% endif %}
			        	{% if not_member_private_group %}
		   				{% include 'group_posts.html' %}
		   				{% else %}
		   					<p style="padding:25px;font-weight: bold;text-align: center;">"{{group.group_name}}" is Private Group and Only members can see who's in the group and what they post.</p>
			        	{% endif %}
			        
			    </div>
			    	<div class="about" style="width: 40%;height: fit-content;">
			        	<h3>About</h3>
			        	<div class="description"><p>{{group.description|truncatewords:50}}</p></div>
			        	<div>
			        		<!-- <i class="fa-solid fa-earth-americas"></i><p class="tit">{{group.status}}</p> -->
		                    {% if group.privacy == "Public" %}
		                        <i class="fa-solid fa-earth-americas"></i><p class="tit">{{group.privacy}}</p>
		                        <p class="about-text">Anyone can see who's in the group and what they post.</p>
		                    {% else %}
		                        <i class="fa-solid fa-lock"></i><p class="tit">{{group.privacy}}</p>
		                        <p class="about-text">Only members can see who's in the group and what they post.</p>
		                    {% endif %}
			        	</div>
			        	<div>
			        		<i class="fa-solid fa-eye"></i><p class="tit">{{group.visibility}}</p>
			        		<p class="about-text">Anyone can find this group.</p>
			        	</div>
			        	<div>
			        		<i class="fa-solid fa-users"></i><p class="tit">{{group.group_type}} Group</p>
			        	</div>
			   		</div>
				 

			   	</div>
			</div>
     </div>
     <div class="add-friend" style="top: 20px;width: 80%;">
     	<div class="add-friend-block" style="position:fixed;width: 80%;text-align: center;">
     		<div class="close" style="justify-content: space-between;">
     			<p class="iv-txt">Invite your friends to like "{{group.group_name}}"</p>
     			<p class="sp-close">close</p>
     		</div>
     		<form method="POST">
     			{% csrf_token %}
     		<div class="invite-text">
     			<textarea placeholder="Write message to friend/s..." rows="6" name="textt"></textarea>
     		</div>
     		<div class="invite-btns">
     			<p>Not Invited (214)</p>
     			<p>Selected (2)</p>
     			<p>Invited (8)</p>
     		</div>
     		<div class="srch-invite">
     			<input type="text" name="invite_friend" placeholder="Search in All Friends">
     			<p>Select All</p>
     		</div>
     		<div class="friend-list">
     			{% for friend in friends %}
     				<div class="friend">
     					<div style="display: flex;">
     						<img src="{{friend.profile_img.url}}">
     						<p>{{friend.user}}</p>
     					</div>
     					<input type="checkbox" name="check" value="{{friend.id}}">
     				</div>
     				<hr>
     			{% endfor %}
     		</div>
     			<input type="hidden" name="g" value="{{group.id}}">
     			<div class="send-invite">
     				<hr>
     				<button style="submit">Send Invites</button>
     			</div>
     		</form>
     	</div>
     </div>
     <div class="remove">
	<div class="s">
		<div class="top">
			<p>Leave The Group</p>
			<i class="fa-solid fa-xmark"></i>
		</div>
		<div class="msh">
			<p>Are your sure you want to leave this group?</p>
		</div>
		<div class="btns">
			<form method="POST" style="display:flex;">
				<p class="cancel" style="padding: 3px;color: black;cursor: pointer;">Cancel</p>
				{% csrf_token %}
				<input type="hidden" name="g" value="{{group.id}}">
				<button type="submit" name="lvg" class="rule-rm-btn">Leave</button>
			</form>
		</div>
	</div>
 </div>
</div>
<script type="text/javascript">

	document.getElementById("invite").addEventListener("click",function(){
		document.querySelector(".add-friend").style.display='flex';
	})
	document.querySelector(".sp-close").addEventListener("click",function(){
		document.querySelector(".add-friend").style.display="none";
	})
</script>
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/emotion.js' %}"></script>
<script src="{% static 'js/pageScroll.js' %}"></script>

<script>
	s=document.querySelector(".img .leave_g");

s.addEventListener("click",function(){
	document.querySelector(".remove").style.display="flex";
	d = [".remove .s .top i",".cancel"]
	for(let i=0; i<d.length; i++){
		document.querySelector(d[i]).addEventListener("click",function() {
			document.querySelector(".remove").style.display="none";
		})
	}
})
</script>
{% endblock %}
