/*.rigth_side .edit-row {
	left: 40%;
	width: 100%;
}*/

.main .right_side{
/*	margin-left: 40%;*/
	width: 100%;
/*	background: #fff;*/
	border-radius: 15px;
	margin-top: 20px;
}
.main .right_side h2 {
	font-size: 20px;
	padding-bottom: 7px;
}
.main .right_side .edit-row hr,
.main .right_side .costumize_group hr {
	width: 98%;
    height: 1px;
    border: 0;
    background: #cccccc;
   	margin: 5px;
}
.main .right_side .costumize_group hr {
	margin-bottom: 0;
}
.main .right_side .edit-row {
	background: #fff;
	border-radius: 15px;
	padding: 7px;
}
.main .right_side .edit-row .row-title .div,
.main .right_side .costumize_group .row-title .div{
	display: flex;
	justify-content: space-between;
/*	padding: 7px;*/
	padding-bottom: 0;
}
.main .right_side .edit-row .row-title .div p,
.main .right_side .costumize_group .row-title p {
	font-size: 14px;
	font-weight: bold;
}
.main .right_side .edit-row .row-title span,
.main .right_side .costumize_group .row-title span {
	color: #919191;
/*	padding-left: 7px;*/
	font-size: 15px;
}
.main .right_side .costumize_group {
	margin-top: 20px;
	background: #fff;
	padding: 10px;
	border-radius: 15px;
}
.main .right_side .edit-row .input{
	display: block;
	padding: 15px;
	display: none;
}
#a {
/*	display: none;*/
}
.main .right_side .edit-row .input label {
	font-size: 14px;
	color: #919191;
	display: block;
}
.main .right_side .edit-row .input input,
.main .right_side .edit-row .input textarea,
.main .right_side .edit-row .input select {
	padding: 6px;
	margin: 5px;
	border: none;
	width: 50%;
	outline: none;
	display: block;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.pen {
	cursor: pointer;
}
.main .right_side .edit-row .input textarea {
	resize: none;
}
.main .right_side .submit,
.main .right_side .submit form {
	display: flex;
}
.main .right_side .submit button,
.main .right_side .submit input{
	padding: 8px;
	border-radius: 8px;
	border: none;
	margin: 5px;
}
.main .right_side .submit .save {
	background: #4267B2;
	color: #fff;
}
@media(max-width:1100px){
	.main .right_side {
		margin:0;
	}
}