body {
	background-color: #f5f5f5;
}
.groups {
	background-color: white;
	padding: 15px;
	display: flex;
	margin: 10px;
	border-radius: 15px;
}
.groups .cover img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
.groups .groups_detail .name {
	font-size: 16px;
	font-weight: bold;
}
.groups .groups_detail {
	padding:7px;
	width: 90%;
}
.groups .groups_detail .info,
.groups .groups_detail .description,
.found {
 	font-size: 13px;
	color: #919191;
}
.groups .groups_detail .description {
	padding-top: 10px;
}
.groups .public-gp-icon img{
	height: 25px;
	width: 25px;
	border-radius: 50%;
}
.friends_name .friends_name {
    text-decoration: none;
    color: black;
}
.left a {
    text-decoration: none;
    color: black;
}
.types {
	text-align: center;
	width: 100%;
}
.types ul li{
	display: inline-block;
	padding: 8px 15px 8px 15px;
	margin: 2px;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}
.types ul li:hover {
	transform: scale(1.1);
}
.types ul li input{
	font-size: 15px;
	color: #919191;
	border: none;
	background: none;
	text-align: center;
}
.all {
	font-size: 15px;
	color: #919191;
}
