.main {
    margin-top: 50px;
}
.main .right {
    width: 45%;
/*    right: 20%;*/
	left: 35%;
    background: #fff;
   	height: fit-content;
    margin-top: 15px;
    border-radius: 10px;
}
.right .report .top-title{
	display: flex;
	padding-top: 8px;
}
.right .report .top-title i {
	color: orange;
	font-size: 17px;
}
.right .report .top-title p{
	padding-left: 5px;
	font-size: 17px;
}
.report-title {
	font-weight: bold;
	padding-bottom: 15px;
}
.why option{
/*	padding: 6px;*/
margin: 8px;
	background: #919191;

}
.reasons,
.textarea {
	display: flex;
	width: 100%;
	padding: 10px;
}
#id_why,
#id_problem,
textarea {
	width: 80%;
	padding: 6px;
	margin: 0 auto;
	border-radius: 6px;
	outline: none;
}
textarea {
	resize: none;
	border: 1px solid;
	outline: none;
}
select option {
/*	font-weight: bold;*/
	padding: 4px;
	font-size: 15px;
}
.bottom-help div{
	padding: 6px;
	display: flex;
}
.bottom-help div i,.bottom-help div p{
	color: #919191;
	padding-right: 5px;
	font-size: 15px;
}
.send {
	width: 100%;
}
.send input {
	padding: 8px;
	margin-top: 10px;
	float: right;
	background: #4267B2;
	color: #fff;
	border: 0;
	outline: 0;
	font-weight: bold;
	border-radius: 3px;
}
@media(max-width:1100px){
	.main .right {
		width: 90%;
		display: block;
		left: 0;
		margin: 0 auto;
	}
}
@media(max-width:465px){
	.main .right {
		width: 100%;
	}
}