body {
	background-color: #f1f1f1;
}
.main-block {
	margin: 0 auto;
	margin-top: 60px;
	background-color: white;
	width: 60%;
	border-radius: 8px;
	padding: 10px;
}
.main-block header img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.main-block header {
	display: flex;
}
.main-block header p {
	padding: 10px;
	font-weight: bold;
	color: deepskyblue;
}
.search-friends {
	margin: 0 auto;
	width: 100%;
	margin-top: 15px;
}
.search-friends input {
	padding: 8px;
	width:55%;
	border: none;
	background-color: #f1f1f1;
	border-radius: 15px;
	color: #919191;
	position: absolute;
	padding-left: 30px;
}
.search-friends i {
	position: relative;
	left: 23px;
	padding-top: 7px;
	z-index: 1;
	color: #919191;
	font-size: 14px;
}
.search-friends input:focus {
	outline: none;
}
.friend img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.friend {
	display: flex;
	padding: 10px;
}
.friend:hover{
	background-color: #f1f1f1;
	border-radius: 15px;
}
.friend p {
	color: #919191;
	font-size: 14px;
}
.friend a {
	text-decoration: none;
	font-size: 15px;
	color: deepskyblue;
	font-weight: bold;
}
.friends {
	margin-top: 40px;
}
.friend div {
	padding-left: 10px;
}
header div{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
@media (max-width: 1024px){
	.main-block {
		width: 100%;
	}
	.search-friends input{
		width: 95%;
	}
}
@media(max-width:768px){
	.search-friends input{
		width: 93%;
	}
}
@media(max-width:580px){
	.search-friends input{
		width: 90%;
	}
}
@media(max-width:380px){
	.search-friends input{
		width: 86%;
	}
}
