{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/reply_style.css' %}">
{% if my_profile.theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/light_theme.css' %}">
    <style type="text/css">.group-name-s {color: black;}</style>
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark_theme.css' %}">
    <style type="text/css">.group-name-s {color: #fff;}</style>
{% endif %}
<style>
    .center .friends_post .comment_wrapper .comment_search input {width:90%;}
    @media(max-width:470px){
        .center .friends_post .comment_wrapper .comment_search input{
            width: 80%;
        }
    }
    .like .like_icon p{
        -webkit-user-select:none;
    }
</style>
<div class="friends_post">
            <div class="friend_post_top">
                <div class="img_and_name">
                    <img src="{{post.group.group_cover.url}}">
                    <div class="friends_name">
                        {% if post.group.display_post_author_username_on_post %}
                        <a class="friends_name" href="{% url 'accounts:profile' post.user.id %}">{{post.user}}</a> |
                        {% endif %}
                        <span class="arr-group-name"></span> <span class="group-name"><a href="{% url 'accounts:group' post.group.id %}" class="group-name-s" style="text-decoration:none;">{{post.group.group_name}}{% if post.group.blue_tick %}<img src="{% static 'images/tick.png' %}" style="color:#1778F2;width: 20px;height: 20px;">{% endif %}</a></span>
                        <p class="time">{{post.created_at|timesince}} ago<i class="fa-solid fa-user-group"></i></p>
                    </div>
                </div>
                 <div class="dropdown" id="group_post_{{post.id}}">
                <ul>
                    <li><button type="text">Save</button></li>
                    <li><button type="text">Report</button></li>
                    {% if my_profile == post.user %}
                        <a href="{% url 'posts:delete_group_post' post.id %}"><li class="del"><button type="text">Delete</button></li></a>
                    {% endif %}
                </ul>
                </div>
                <div class="menu" id="group_post_{{post.id}}">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </div>
            <p class="post_caption">{{post.caption}}</p>
            {% if post.media_type_html == "image" %}
            <img src="{{post.file.url}}">
            {% elif post.media_type_html == "video" %}
            <video controls style="object-fit:none;"><source src="{{post.file.url}}"></video>
            {% endif %}
            <div class="info">
                <div class="emoji_img">
                    {% if post.like_reaction.all.count > 0 %}
                        <img src="{% static 'images/Like_icon.png' %}">
                    {% endif %}
                    {% if post.love_reaction.all.count > 0 %}
                        <img src="{% static 'images/love_icon.png' %}">
                    {% endif %}
                    {% if post.haha_reaction.all.count > 0 %}
                        <img src="{% static 'images/haha_icon.png' %}">
                    {% endif %}
                    {% if post.wow_reaction.all.count > 0 %}
                        <img src="{% static 'images/wow_icon.png' %}">
                    {% endif %}
                     {% if post.sad_reaction.all.count > 0 %}
                        <img src="{% static 'images/sad_icon.png' %}">
                    {% endif %}
                     {% if post.angry_reaction.all.count > 0 %}
                        <img src="{% static 'images/Angry_icon.png' %}">
                    {% endif %}
                    {% if my_profile in post.likes.all %}
                        {% if post.likes.all.count == 1 %}
                            <p>you</p>
                        {% else %}
                            <p style="margin-top: 3px;">{{post.mcu}}</p>
                        {% endif %}
                    {% else %}
                        {% if post.likes.all.count > 0%}
                            <p style="color:#919191;margin-top: 3px;"> {{post.hf}}{{post.glf}}</p>
                        {% endif %}
                    {% endif %}
                </div> 
                <div class="comment">
                    {% if post.group_post_comment.all.count > 0 %}
                        <p>{{post.group_post_comment.all.count}} <a href="{% url 'posts:group_post_detail' post.id %}" style="color:#919191;">Comments</a></p>
                    {% endif %}
                    {% if post.group_shares.all.count > 0 %}
                        {% if post.group_shares.all.count == 1 %}
                            <p>{{post.get_formated_shares}}{{post.glsp}} Share</p>
                        {% else %}
                            <p>{{post.get_formated_shares}}{{post.glsp}} Shares</p>
                        {% endif %}
                    {% endif %}
                    {% if post.media_type_html == "video" %}
                        <p>{{post.views.all.count}} views</p>
                    {% endif %}
                </div>
                    <div class="container" id="gr_{{post.id}}">
                        <div class="content">
                            <div class="emoji">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="hello">
                                        <input type="image" src="{% static 'images/like_gif.gif' %}" name="like">
                                    </div>
                                     <div class="hello">
                                        <input type="image" src="{% static 'images/Love_gif.gif' %}" name="love">
                                    </div>
                                    <div class="hello">
                                        <input type="image" src="{% static 'images/haha_gif.gif' %}" name="haha">
                                    </div>
                                     <div class="hello">
                                        <input type="image" src="{% static 'images/wow_gif.gif' %}" name="wow">
                                    </div>
                                    <div class="hello">
                                        <input type="image" src="{% static 'images/sad_gif.gif' %}" name="sad">
                                    </div>
                                    <div class="hello">
                                        <input type="image" src="{% static 'images/angry_gif.gif' %}" name="angry">
                                    </div> 
                                    <input type="hidden" name="group_original_post" value="{{post}}">
                                    <input type="hidden" name="post_like" value="{{post.id}}">
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
       <hr>
        <div class="like">
            <div class="like_icon">
                {% if my_profile in post.likes.all %}
                    {% if my_profile in post.like_reaction.all %}
                        <i class="fa-solid fa-thumbs-up active"></i>
                        <p class="emoji_list like-text" id="gr_{{post.id}}">Like</p>
                    {% elif my_profile in post.love_reaction.all %}
                        <img src="{% static 'images/love_icon.png' %}">
                        <p class="emoji_list love-text" id="gr_{{post.id}}" style="border-radius: 22px;">Love</p>
                    {% elif my_profile in post.haha_reaction.all %}
                        <img src="{% static 'images/haha_icon.png' %}">
                        <p class="emoji_list haha-text" id="gr_{{post.id}}">Haha</p>
                    {% elif my_profile in post.wow_reaction.all %}
                        <img src="{% static 'images/wow_icon.png' %}">
                        <p class="emoji_list wow-text" id="gr_{{post.id}}">Wow</p>
                    {% elif my_profile in post.sad_reaction.all %}
                        <img src="{% static 'images/sad_icon.png' %}">
                        <p class="emoji_list sad-text" id="gr_{{post.id}}">Sad</p>
                    {% elif my_profile in post.angry_reaction.all %}
                        <img src="{% static 'images/Angry_icon.png' %}" style="border-radius: 22px;">
                        <p class="emoji_list angry-text" id="gr_{{post.id}}">Angry</p>
                    {% endif %}
                {% else %}
                    <i class="fa-solid fa-thumbs-up"></i>
                    <p class="emoji_list" id="gr_{{post.id}}">Like</p>
                {% endif %}
            </div>
            <div class="like_icon">
                <i class="fa-solid fa-message"></i>
                <p><a href="{% url 'posts:group_post_detail' post.id %}" style="text-decoration:none;">Comment</a></p>
            </div>
            <div class="like_icon">
                <i class="fa-solid fa-share"></i>
                <p><a href="{% url 'posts:share_group_post' post.id %}" style="text-decoration:none;;">Share</a></p>
            </div>
        </div>
        <hr>
        <div class="comment_wrapper">
            <img src="{{my_profile.profile_img.url}}">
            <div class="circle"></div>
                <div class="comment_search">
                    <form method="POST">
                        {% csrf_token %}
                       <input type="text" name="text" placeholder="Write a comment" style="width: 90%;">
                       <input type="hidden" name="post_id" value="{{post.id}}">
                       <input type="hidden" name="type_of_post" value="{{post.post_type}}">
                        <i class="fa-regular fa-face-smile" style="padding-top: 5px;"></i>
                    </form>
                </div>
            </div>
            <div class="comment_section">
            {% if not allow_all_comments %}
                {% if post.group_post_comment.all|length > 3 %}
                    {% for comment in post.group_post_comment.all|slice:"3" %}
                        <div class="commentt" style="justify-content: space-between;">
                                <div style="display: flex;">
                                    <img src="{{comment.user.profile_img.url}}">
                                    <div class="com_text">
                                        <a href="{% url 'accounts:profile' comment.user.id %}">{{comment.user}}</a>
                                        <p>{{comment.text}}</p>
                                    </div>
                                </div>
                                <a href="{% url 'comments:report_comment' comment.id %}"><div>
                                <i class="fa-solid fa-ellipsis-vertical" style="padding:8px;color: black;" id="{{comment.id}}"></i>
                                </div></a>
                            </div>
                        <div class="comment-btns">
                              <form method="POST">
                            {% csrf_token %}
                            <p>
                                {% if my_profile in comment.likes.all %}
                                    <input type="submit" name="like" value="Liked" style="background: none; border: none;color: #4267B2;">
                                {% else %}
                                    <input type="submit" name="like" value="Like" style="background: none; border: none; color: #919191;">
                                {% endif %}
                                <input type="hidden" name="type_of_comment" value="{{comment.type_of_comment}}">
                            </p>
                            <input type="hidden" name="comment" value="{{comment.id}}">
                            </form>
                            <p><a href="{% url 'comments:reply_comment' comment.id %}">Reply</a></p>
                            <p>{{post.created_at|timesince}}</p>
                             {% if comment.likes.all.count > 0 %}
                                {% if comment.likes.all.count == 1 %}
                                    <p>{{comment.get_formated_replies_count}}{{comment.glsp}} like</p>
                                {% else %}
                                    <p>{{comment.get_formated_replies_count}}{{comment.glsp}} likes</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if comment.reply.all.count > 0 %}
                            <div class="reply">
                            <i class="fa-solid fa-reply fa-rotate-180 reply-icon"></i>
                            <p class="reply-count"><a href="{% url 'comments:reply_comment' comment.id %}" style="text-decoration: none;">{{comment.reply.all.count}} reply</a></p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="view-all-comm"><a href="{% url 'posts:group_post_detail' post.id %}">View all comments</a></div>
                {% else %}
                    {% for comment in post.group_post_comment.all %}
                        <div class="commentt" style="justify-content: space-between;">
                                <div style="display: flex;">
                                    <img src="{{comment.user.profile_img.url}}">
                                    <div class="com_text">
                                        <a href="{% url 'accounts:profile' comment.user.id %}">{{comment.user}}</a>
                                        <p>{{comment.text}}</p>
                                    </div>
                                </div>
                                <a href="{% url 'comments:report_comment' comment.id %}"><div>
                                <i class="fa-solid fa-ellipsis-vertical" style="padding:8px;color: black;" id="{{comment.id}}"></i>
                                </div></a>
                            </div>
                        <div class="comment-btns">
                              <form method="POST">
                            {% csrf_token %}
                            <p>
                                {% if my_profile in comment.likes.all %}
                                    <input type="submit" name="like" value="Liked" style="background: none; border: none;">
                                {% else %}
                                    <input type="submit" name="like" value="Like" style="background: none; border: none;">
                                {% endif %}
                                <input type="hidden" name="type_of_comment" value="{{comment.type_of_comment}}">
                            </p>
                            <input type="hidden" name="comment" value="{{comment.id}}">
                            </form>
                            <p><a href="{% url 'comments:reply_comment' comment.id %}">Reply</a></p>
                            <p>{{post.created_at|timesince}} ago</p>
                             {% if comment.likes.all.count > 0 %}
                                {% if comment.likes.all.count == 1 %}
                                    <p>{{comment.get_formated_replies_count}}{{comment.glsp}} like</p>
                                {% else %}
                                    <p>{{comment.get_formated_replies_count}}{{comment.glsp}} likes</p>
                                {% endif %}
                            {% endif %}
                        </div>
                            {% if comment.reply.all.count > 0 %}
                                <div class="reply">
                                <i class="fa-solid fa-reply fa-rotate-180 reply-icon"></i>
                                <p class="reply-count"><a href="{% url 'comments:reply_comment' comment.id %}" style="text-decoration: none; color: #919191;">{{comment.reply.all.count}} reply</a></p>
                                </div>
                            {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                 {% for comment in post.group_post_comment.all %}
                        <div class="commentt">
                            <img src="{{comment.user.profile_img.url}}">
                            <div class="com_text">
                                 <a href="{% url 'accounts:profile' comment.user.id %}">{{comment.user}}</a>
                                <p>{{comment.text}}</p>
                            </div>
                        </div>
                        <div class="comment-btns">
                              <form method="POST">
                            {% csrf_token %}
                            <p>
                                {% if my_profile in comment.likes.all %}
                                    <input type="submit" name="like" value="Liked" style="background: none; border: none;">
                                {% else %}
                                    <input type="submit" name="like" value="Like" style="background: none; border: none;">
                                {% endif %}
                                <input type="hidden" name="type_of_comment" value="{{comment.type_of_comment}}">
                            </p>
                            <input type="hidden" name="comment" value="{{comment.id}}">
                            </form>
                            <p><a href="{% url 'comments:reply_comment' comment.id %}">Reply</a></p>
                            <p>{{post.created_at|timesince}} ago</p>
                             {% if comment.likes.all.count > 0 %}
                                {% if comment.likes.all.count == 1 %}
                                    <p>{{comment.likes.all.count}} like</p>
                                {% else %}
                                    <p>{{comment.likes.all.count}} likes</p>
                                {% endif %}
                            {% endif %}
                        </div>
                            {% if comment.reply.all.count > 0 %}
                                <div class="reply">
                                <i class="fa-solid fa-reply fa-rotate-180 reply-icon"></i>
                                <p class="reply-count"><a href="{% url 'comments:reply_comment' comment.id %}" style="text-decoration: none; color: #919191;">{{comment.reply.all.count}} reply</a></p>
                                </div>
                            {% endif %}
                    {% endfor %}
            {% endif %}
            </div>
        </div>

{% endblock %}