
.main .remove {
	position: relative;
	width: 35%;
	height: fit-content;
	margin: 0 auto;
	display: none;
	padding: 10px;
}
.main .remove .s {
/*	position: fixed;*/
	margin-top: 50px;
	width: 100%;
	height: fit-content;
	padding: 10px;
	background: #fff;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px
}
.main .remove .s .top {
	display: flex;
	justify-content: space-between;
	padding: 6px;
	box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
.main .remove .s .top p {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
}
.main .remove .s .btns {
/*	position: absolute;*/
	bottom: 0;
}
.main .remove .s .msh {
	padding: 6px;
	display: block;
}
.main .remove .s .msh p{
	padding: 6px;
	font-family: Arial;
	font-size: 15px;
}
.main .remove .s .btns {
	display: flex;
/*	margin-top: 10px;*/
}

.main .remove .s .btns button {
	padding: 6px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background: black;
}

.main .remove .s .btns form .rule-rm-btn {
	background: red;
	color: #fff;
}

@media(max-width:800px){
	.main .remove {
		width: 55%;
	}
}
@media(max-width:600px){
	.main .remove {
		width: 70%;
	}
}
@media(max-width:380px){
	.main .remove {
		width: 85%;
	}
}