.center .friends_post .comment_section .commentt {
	display: flex;
	padding-top: 10px;
}
.center .friends_post .comment_section .commentt .comment_author {
	font-weight: bold;
}
.center .friends_post .comment_section .commentt img {
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid #919191;
}
.center .friends_post .comment_section .commentt .com_text {
	background-color: rgba(118,118,118,0.2);
	padding: 5px 12px 5px 12px;
	border-radius: 30px;
	max-width: 95%;
	font-family: Helvetica,Arial;
}
.center .friends_post .comment_section .commentt .com_text a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.center .friends_post .comment_section .comment-btns {
	display: flex;
	padding-left: 40px;
}
.center .friends_post .comment_section .comment-btns p {
	padding: 3px 5px 0 5px;
	font-size: 13px;
	color: #919191;
}
.center .friends_post .comment_section .view-all-comm {
	font-size: 15px;
	padding-top: 8px;
	cursor: pointer;
}
.center .friends_post .comment_section .view-all-comm a {
	text-decoration: none;
	color: #919191;
}
