.ic {
	color: orange;
}
.ii {
	display: flex;
	padding: 5px;
}
.ii p {
	padding-left: 5px;
}
.main {
	width: 500px;
	margin: 0 auto;
	background: rgba(120, 120, 120, 0.1);
	border-radius: 10px;
	padding: 10px;
}
hr {
	height: 1px;
	background: red;
}
.inps {
	text-align: center;
}
#id_reason {
	width: 90%;
	padding: 4px;
	margin: 5px;
	outline: none;
}
#id_text {
	margin: 5px;
	width: 90%;
	resize: none;
	outline: none;
}
.th {
	font-size: 15px;
	opacity: 0.8;
}
button {
	padding: 6px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background: orange;
}