{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% include 'menu.html' %}
<style type="text/css">.menu_settings .sets{margin-top: 0;}</style>
<div class="center" style="margin-top: 100px;">
	<div class="form">
	<form method="POST" action="" novalidate>
		{% csrf_token %}
		{{form.as_p}}
		<p><input type="submit" value="Submit"></p>
	</form>
</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
{{my_profile.id|json_script:"json-username"}}
<script src="{% static 'js/websocket.js' %}"></script>
{% endblock %}
